 @model ItemsDto 
@{
    ViewData["Title"] = "Details";
}

 @* <h1>Details</h1>  *@

<div class="container mt-4">
    <!-- Header Section -->
    <div class="d-flex justify-content-center align-items-center mb-4">
        <h2 class="mb-0 text-primary fw-bold">@Model.Name</h2>
    </div>

<table class="table table-bordered  table-hover">
    <thead>
        <tr>
            @* <th>Id</th>  *@
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category Name</th>
            <th>Quantity</th>
            <th>ImageUrl</th>
            @* <th>Actions</th>  *@
        </tr>
    </thead>
    <tbody>
        <tr>
            @* <td>@Model.Id</td>  *@
            <td>@Model.Name</td>
            <td>@Model.Description</td>
            <td>@Model.Price</td>
            <td>@Model.Category?.Name</td>
            <td>@Model.Quantity</td>
            <td>
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img src="@Model.ImageUrl" alt="@Model.Name" style="max-width: 100px; max-height: 100px;" />
                }
                else
                {
                    <span>No Image</span>
                }
            </td>
        </tr>
         @*  <a asp-action="GetAll" class="btn btn-info">Back To List</a>  *@
    </tbody>
</table>


 <a asp-action="GetAll" class="btn btn-info">Back To List</a> 

  @* <partial name="_ShowItem" />  *@